body {
    background-color: #f8f9fa;
}

.card {
    background-color: #ffffff;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

#ageDisplay {
    font-weight: bold;
    text-align: center;
}
